/*
    Document   : style
    Created on : 2009-7-11, 0:45:40
    Author     : scyang
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
* {
	margin:0;
	padding:0;
}
body {
	font: 80%/140% "sim sun",Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:#E6E2AF;
}
h1 {
	font-size: 220%;
	line-height:220%;
	font-family:"Microsoft YaHei","Microsoft JhengHei",STHeiti,Georgia, "Times New Roman", Times, serif;
}
h2 {
	font-family:"Microsoft YaHei","Microsoft JhengHei",STHeiti,Georgia, "Times New Roman", Times, serif;
	font-size: 160%;
	font-weight:800;
	line-height:160%;
}
h3 {
	font-size: 130%;
}
h4 {
	font-size: 100%;
}
p {
}
abbr {
	border:none;
}
span {
}
pre,code{font-family:Consolas,"Courier New", Courier, monospace;background-color:#f8f8f8;}
pre{
	margin:4px 0;
	border:1px #ccc solid;
	border-bottom-width:2px;
	line-height:1.3em;
	padding:4px 8px;
	font-size:90%;
	max-height:180px;
	overflow:auto;
}
a {
	color:#000000;
	text-decoration:none;
	border-bottom:dashed 1px #999999;
}
a:hover {
	color:#666666;
}
ul {
}
li {
	list-style:none;
}
#wrap {
	margin:0 auto;
	width:522px;
	border-left:2px #EFEFCE dashed;
	border-right:15px #EFEFCE dashed;
	border-top:15px #EFEFCE solid;
	border-bottom:12px #EFEFCE solid;
	padding:15px;
	background-color:#FFFFFF;
}
#headerwrap {
	width:100%;
	background:#046380;
	border-bottom:#EFEFCE 3px solid;
}

#header {
	margin:0 auto;
	width:522px;
	padding-top:50px;
	padding-bottom:15px;
}
#header #title {
	color:#FFFFFF;
}
#header #title A{
	color:#FFFFFF;
}
#header #title A:hover{
	color:#EFECCA;
}
#header #desc {
	font-size:120%;
	line-height:120%;
	color:#FFFFFF;
	margin-top:-10px;
}

#content {
        width:100%;
        float:right;
        margin-bottom:9px;
}
#content .post {
	margin-bottom:24px;
}
#content #meta {
}
#content .categorys {
	font-weight:800;
	margin-right:9px;
}
#content .commentnum {
	margin-right:9px;
}
#content .date {
	margin-right:9px;
}
#content .tags {
	margin-right:6px;
}
#content .intro {
	margin-top:12px;
	margin-bottom:12px;
	padding-left:3px;
}
#content #page-nav {
}
#content #page-nav .prev{
	margin-right:12px;
}
#comment {
}
#comment #comment-header{
}
#comment #comment-list{
}
#comment #comment-list #comment-num{
}
#comment #comment-list .comment-entry{
    margin-top:3px;
    margin-bottom:9px;
	padding:6px;
	border:1px dashed #CCCCCC;
}
#comment #comment-list .odd{
	background-color:#FEFEF5;
}
#comment #comment-list .comment-meta{
}
#comment #comment-list .comment-author{
    margin-right:12px;
}
#comment #comment-list .comment-date{
}
#comment #comment-list .comment-content{
    margin-left:3px;
    margin-bottom:3px;
    padding:6px;
}
#comment #comment-form {
    font-size:120%;
    font-family:"sim sun",Arial, Helvetica, sans-serif;
}
#comment #comment-form TD{
    width:261px;
}
#comment #comment-form LABEL{
    text-align:left;
    margin-left:12px;
}
#comment #comment-form INPUT{
    width:100%;
    font-size:100%;
    padding:3px;
    font-family:"sim sun",Arial, Helvetica, sans-serif;
}
#comment #comment-form TEXTAREA{
    width:100%;
    height:200px;
    font-size:100%;
    padding:3px;
    font-family:"sim sun",Arial, Helvetica, sans-serif;
}
#widgets {
	text-align:right;
        width:180px;
        float:left;
        margin-left:-210px;
	font-size:120%;
	margin-top:-30px;
	border-top:15px #EFEFCE solid;
	border-right:6px #EFEFCE solid;
	border-left:6px #EFEFCE solid;
	border-bottom:3px #EFEFCE solid;
	background-color:#FFFFFF;
}
.widget-title {
	font-size:110%;
	line-height:110%;
	font-style:italic;
	font-weight:200;
	margin-top:6px;
	margin-bottom:6px;
}
.widget {
	margin:18px 22px;
}
.widget li ul{
	font-size:80%;
	line-height:80%;
}
.widget li{
	padding-top:3px;
	padding-bottom:3px;
}
#footer {
        clear:both;
	padding-top:12px;
        padding-bottom:24px;
	border-top:#CCCCCC dashed 1px;
}